@font-face {
	font-family: 'Calibre-Light';
	src: url('../fonts/Calibre-Light.otf');
}
@font-face {
	font-family: 'Calibre-Medium';
	src: url('../fonts/Calibre-Medium.otf');
}
@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura.ttc');
}
@font-face {
	font-family: 'LTC';
	src: url('../fonts/LTC\ Cloister\ W01\ Regular.ttf');
}
