@media (max-width: 3000px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.main__subtitle {
		font-size: 22px;
	}
	.main__title {
		font-size: 35px;
		padding: 15px 200px 12px 200px;
	}
	.main__info {
		font-size: 20px;
		width: 760px;
	}
	.cards__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
	.cards__item {
		width: 150px;
	}
	.drag {
		padding: 0px 0px 90px 0px;
	}
	.drag__title {
		font-size: 35px;
		padding: 15px 160px 12px 160px;
	}
	.drag__items {
		grid-template-columns: 1fr 150px 1fr;
	}
	.drag__item {
		width: 156px;
		height: 185px;
	}
	.drag__item:first-child {
		margin: 0px 0px 0px 150px;
	}
	.drag__item:last-child {
		margin: 0px 150px 0px 0px;
	}
	.drag__btn {
		font-size: 22px;
		padding: 12px 310px;
	}
	.footer__btn {
		font-size: 17px;
		padding: 10px 40px;
	}
	.footer__info {
		font-size: 15px;
	}
	.footer__creators {
		font-size: 17px;
		margin: 0px 0px 50px 0px;
	}
	.popup {
		width: 745px;
		height: 250px;
		top: 390px;
	}
	.popup__title {
		font-size: 40px;
		margin: 80px 0px 10px 0px;
	}
	.popup__info {
		font-size: 23px;
	}
}

@media (max-width: 1800px) {
	.container {
		max-width: 830px;
		margin: 0 auto;
	}
	.main__subtitle {
		font-size: 18px;
	}
	.main__title {
		font-size: 30px;
		padding: 15px 190px 12px 190px;
		margin: 0px 0px 50px 0px;
	}
	.main__info {
		font-size: 18px;
		width: 700px;
	}
	.cards__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(1fr, 140px));
		gap: 20px;
	}
	.margin {
		margin: 0px 0px 0px 0px;
	}
	.cards__item {
		width: 140px;
	}
	.drag {
		padding: 0px 0px 70px 0px;
	}
	.drag__title {
		font-size: 30px;
		padding: 15px 150px 12px 150px;
		margin: 0px 0px 40px 0px;
	}
	.drag__items {
		grid-template-columns: 1fr 150px 1fr;
	}
	.drag__item {
		width: 146px;
		height: 173px;
	}
	.drag__item:first-child {
		margin: 0px 0px 0px 150px;
	}
	.drag__item:last-child {
		margin: 0px 150px 0px 0px;
	}
	.drag__btn {
		font-size: 18px;
		padding: 12px 285px;
	}
	.footer__btn {
		font-size: 15px;
		padding: 10px 35px;
	}
	.footer__info {
		font-size: 13px;
	}
	.footer__creators {
		font-size: 15px;
		margin: 0px 0px 50px 0px;
	}
	.popup {
		width: 695px;
		height: 220px;
		top: 380px;
	}
	.popup__title {
		font-size: 37px;
		margin: 70px 0px 10px 0px;
	}
	.popup__info {
		font-size: 21px;
	}
}

@media (max-width: 870px) {
	.container {
		max-width: 600px;
		margin: 0 auto;
	}
	.main__subtitle {
		font-size: 15px;
	}
	.main__title {
		font-size: 25px;
		padding: 15px 160px 12px 160px;
		margin: 0px 0px 40px 0px;
	}
	.main__info {
		font-size: 13px;
		width: 574px;
	}
	.cards__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 15px;
	}
	.margin {
		margin: 0px 0px 0px 0px;
	}
	.cards__item {
		width: 100px;
	}
	.drag {
		padding: 0px 0px 70px 0px;
	}
	.drag__title {
		font-size: 25px;
		padding: 15px 130px 12px 130px;
		margin: 0px 0px 30px 0px;
	}
	.drag__items {
		grid-template-columns: 1fr 100px 1fr;
	}
	.drag__item {
		width: 106px;
		height: 125px;
	}
	.drag__item:first-child {
		margin: 0px 0px 0px 120px;
	}
	.drag__item:last-child {
		margin: 0px 120px 0px 0px;
	}
	.drag__btn {
		font-size: 14px;
		padding: 12px 243px;
	}
	.footer__btn {
		font-size: 12px;
		padding: 10px 30px;
	}
	.footer__info {
		font-size: 10px;
	}
	.footer__creators {
		font-size: 12px;
		margin: 0px 0px 50px 0px;
	}
	.popup {
		width: 570px;
		height: 200px;
		top: 325px;
	}
	.popup__title {
		font-size: 34px;
		margin: 70px 0px 10px 0px;
	}
	.popup__info {
		font-size: 19px;
	}
}

@media (max-width: 620px) {
	.container {
		max-width: 400px;
		margin: 0 auto;
	}
	.main__subtitle {
		font-size: 14px;
	}
	.main__title {
		font-size: 20px;
		padding: 15px 80px 12px 80px;
		margin: 0px 0px 40px 0px;
	}
	.main__info {
		font-size: 13px;
		width: 400px;
		line-height: 1.4;
		margin: 0px 0px 30px 0px;
	}
	.cards__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 15px;
	}
	.margin {
		margin: 0px 0px 0px 0px;
	}
	.cards__item {
		width: 100px;
	}
	.drag {
		padding: 0px 0px 50px 0px;
	}
	.drag__title {
		font-size: 20px;
		padding: 15px 60px 12px 60px;
		margin: 0px 0px 30px 0px;
	}
	.drag__items {
		grid-template-columns: 120px 120px 120px;
		margin: 0px 0px 30px 0px;
	}
	.drag__item {
		width: 106px;
		height: 125px;
	}
	.drag__item:first-child {
		margin: 0px 0px 0px 50px;
	}
	.drag__item:last-child {
		margin: 0px 50px 0px 0px;
	}
	.drag__btn {
		font-size: 14px;
		padding: 12px 151px;
	}
	.footer__btn {
		font-size: 10px;
		padding: 10px 30px;
		margin: 30px 0px 30px 0px;
	}
	.footer__info {
		font-size: 10px;
		line-height: 1.2;
		width: 80%;
		margin: 0 auto;
	}
	.footer__creators {
		font-size: 10px;
		margin: 5px 0px 30px 0px;
		line-height: 1.2;
	}
	.popup {
		width: 370px;
		height: 180px;
		top: 325px;
	}
	.popup__title {
		font-size: 30px;
		margin: 60px 0px 10px 0px;
	}
	.popup__info {
		font-size: 13px;
	}
}

@media (max-width: 415px) {
	.container {
		max-width: 320px;
		margin: 0 auto;
	}
	.main__subtitle {
		font-size: 12px;
	}
	.main__title {
		font-size: 20px;
		padding: 15px 80px 12px 80px;
		margin: 0px 0px 30px 0px;
		line-height: 1.3;
	}
	.main__info {
		font-size: 12px;
		width: 300px;
		line-height: 1.4;
		margin: 0px auto 30px auto;
	}
	.cards__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 5px;
	}
	.margin {
		margin: 0px 0px 0px 0px;
	}
	.cards__item {
		width: 100px;
	}
	.drag {
		padding: 0px 0px 50px 0px;
	}
	.drag__title {
		font-size: 20px;
		padding: 15px 60px 12px 60px;
		margin: 0px 0px 30px 0px;
		line-height: 1.3;
	}
	.drag__items {
		grid-template-columns: 104px 100px 100px;
		margin: 0px 0px 30px 0px;
		gap: 7px;
	}
	.drag__item {
		width: 106px;
		height: 125px;
	}
	.drag__item:first-child {
		margin: 0px 0px 0px 0px;
	}
	.drag__item:last-child {
		margin: 0px 0px 0px 0px;
	}
	.drag__btn {
		font-size: 12px;
		padding: 12px 112px;
	}
	.footer__btn {
		font-size: 10px;
		padding: 10px 30px;
		margin: 30px 0px 30px 0px;
	}
	.footer__info {
		font-size: 10px;
		line-height: 1.2;
		width: 80%;
		margin: 0 auto;
	}
	.footer__creators {
		font-size: 10px;
		margin: 5px 0px 30px 0px;
	}
	.popup {
		width: 310px;
		height: 180px;
		top: 325px;
	}
	.popup__title {
		font-size: 25px;
		margin: 65px 0px 10px 0px;
	}
	.popup__info {
		font-size: 12px;
	}
}